.categorias__top {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #4d4d4d;
  padding-left: 56px;
  padding-right: 56px;
}
.bt__filtro {
  margin-left: 8px;
  margin-right: 8px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #e5e5e5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #9f9f9f;
  padding: 10px 16px 10px 16px;
}
.bt__filtro:hover {
  background-color: #fbb900;
  border: 2px solid #fbb900;
  color: white;
}
.vitrine {
  display: flex;
  justify-content: space-around;
  margin-left: 57px;
  margin-right: 57px;
  margin-top: 34px;
}
