.marcas {
  display: flex;
  justify-content: space-around;
}
.marcas__texto {
  margin-left: 56px;
  margin-bottom: 56px;
  margin-top: 64px;
  color: #4d4d4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
figure {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 8px 16px rgba(179, 134, 0, 0.12);
  border-radius: 20px;
  margin-left: 20px;
  width: 98px;
  height: 100px;
  padding: 47px;
}
