.marcas {
  display: flex;
  justify-content: space-around;
  margin-left: 56px;
}
.marcas__texto {
  margin-left: 56px;
  margin-bottom: 56px;
  margin-top: 64px;
  color: #4d4d4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
figure {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 8px 16px rgba(179, 134, 0, 0.12);
  border-radius: 20px;
}
.logos {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 47px;
  margin-right: 47px;
}
